#footer{
	background: black;
}
#header{
	background: black;
	width: auto;
	height: auto;
	padding-left: 100px;
	padding-right: 40px;
}
.font{
	color: white;
	line-height: 70px;
}
.font1{
	color: white;
	line-height: 70px;
	letter-spacing: 10px;
}
.content{
	margin-bottom: 15px;
	width: auto;
	height: auto;
	background: red;
}
.fix
{
	text-decoration: none;
	color: Blue;
}
.fix1{
	margin-left: 500px;
}
.dropdown-toggle:focus{
	background:black !important;
}